/* :host es el selector para el propio componente MainLayoutComponent */
:host {
    display: block;
    min-height: 100vh;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Evita que el contenido se encoja a 0 */
    min-width: 0; 
}

.main-content {
    flex: 1;
    /* Añade el padding al área de contenido */
    padding: 2rem;
    overflow-y: auto;
    background-color: var(--bg-light);
}