<aside class="sidebar">
    <div class="sidebar-header">
        <div class="logo">S Sprintix</div>
    </div>
    <nav class="sidebar-nav">
        <h3>General</h3>
        <ul>
            <li><a routerLink="/dashboard" routerLinkActive="active">Recomendados</a></li>
            <li><a routerLink="/recientes" routerLinkActive="active">Recientes</a></li>
            <li><a routerLink="/favoritos" routerLinkActive="active">Marcados como favoritos</a></li>
        </ul>
        <h3>Planes</h3>
        <ul>
            <li><a routerLink="/list" routerLinkActive="active">Proyectos (Lista)</a></li>
            <li><a routerLink="/board" routerLinkActive="active">Proyectos (Tablero)</a></li>
            <li><a routerLink="/calendar" routerLinkActive="active">Calendario</a></li>
        </ul>
        </nav>
    <div class="sidebar-footer">
        <a href="#">Personalizar barra lateral</a>
    </div>
</aside>